.background {
  background-image:  linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../images/background.jpg");
  background-blend-mode: hard-light;
  background-size: cover;
}